
* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3 {
	color: #586BAA;
}

h2 {
}

h3 {
}

p, blockquote, ul, ol {
}

p {
}

blockquote {
	margin-left: 3em;
}

ul {
	margin-left: 3em;
}

ul li {
}

ol {
	margin-left: 3em;
}

ol li {
}

a {
	color: #586BAA;
}

a:hover {
	text-decoration: none;
}

img {
}

/* Boxed Style */

.boxed {
	margin-bottom: 20px;
}

.boxed .title {
	height: 31px;
	padding: 9px 0 0 20px;
	background: #6FBE6E url(images/img05.gif) repeat-x;
	font-size: 1.2em;
	color: #CC0000;
}

.boxed .content {
	padding: 20px 20px 40px 20px;
	background: url(images/img06.gif) repeat-x;
}

/* Post */

.post {
}

.post .title {
	padding: 5px 0 0 20px;
	height: 35px;
	font-size: 2em;
	font-weight: normal;
}

.post .date {
}

.post .date .month {
}

.post .date .day {
}

.post .date .year {
}

.post .meta {
}

.post .meta p {
}

.post .story {
	padding: 20px 20px 10px 0px;
	background: url(images/img07.gif) repeat-x;
	height: 1px;
	width: 404px;
}

.post h3 {
}

.post .story p, .post .story blockquote, .post .story ul, .post .story ol {
	margin-bottom: 1.5em;
	line-height: 180%;
}

/* Header */

#header {
	width: 740px;
	height: 150px;
	margin: 0 auto;
}

/* Menu */

#menu {
	width: 740px;
	height: 90px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding-top: 25px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	margin-left: 1px;
	padding: 13px 25px 0 25px;
	background: #FFFFFF url(images/img02.gif) repeat-x;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #586BAA;
}

#menu a:hover {
	background-image: url(images/img03.gif);
	border-color: #FEDA8D;
	color: #CC0000;
}

#menu .active a {
	height: 36px;
	margin-top: -4px;
	background-image: url(images/img04.gif);
	border: 1px solid #479AC6;
	border-bottom: none;
	font-weight: bold;
	color: #479AC6;
}

/* Logo */

#logo {
	width: 740px;
	height: 60px;
	margin: 0 auto;
}

#logo h1 {
	float: left;
	letter-spacing: -2px;
	font-size: 36px;
	font-weight: normal;
}

#logo h1 a 	
{
	font-family: "Old English Text MT";
}

#logo h2 {
	float: left;
	font-size: 14px;
	font-weight: normal;
}

#logo h2 a {
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	color: #479AC6;
}

/* Content */

#content {
	width: 740px;
	margin: 0 auto;
	height: 817px;
}

#extra {
}

/* Content > Main */

#main {
	float: right;
	width: 505px;
}

#main a {
}

/* Content > Main > Welcome */

#welcome {
}

/* Content > Main > Example */

#example {
}

/* Content > Sidebar */

#sidebar {
	float: left;
	width: 226px;
}

#sidebar a {
}

/* Content > Sidebar > Login */

#login {
}

#login form {
}

#login fieldset {
	border-style: none;
	border-color: inherit;
	border-width: medium;
	width: 187px;
}

#login legend {
	display: none;
}

#login label {
	font-size: x-small;
	font-weight: bold;
}

#login input {
	margin-bottom: 5px;
}

#inputtext1, #inputtext2 {
	width: 170px;
	padding: 2px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

#inputsubmit1 {
}

/* Content > Sidebar > Updates*/

#updates {
}

#updates ul {
	margin: 0;
	list-style: none;
}

#updates h3 {
	margin: 0;
	font: bold x-small Verdana, Arial, Helvetica, sans-serif;
}

#updates p {
	margin-bottom: 1.4em;
	font-size: smaller;
	line-height: normal;
}

/* Content > Sidebar > Partners*/

#partners {
}

#partners .content {
	padding: 10px 0;
}

#partners ul {
	margin: 0;
	border-bottom: 1px solid #D1BC5C;
	list-style: none;
	line-height: normal;
}

#partners li {
	padding: 10px;
	border-top: 1px solid #D1BC5C;
}

/* Footer */

#footer {
	clear: both;
	width: 740px;
	margin: 0 auto;
	padding: 30px 0;
	background: url(images/img08.gif) repeat-x;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: x-small;
}

/* Footer > Legal */

#legal {
}

/* Footer > Links */

#links {
}